@use 'src/styles' as styles;

.app-task--grid {
  display: grid;
  grid-template-columns: 2fr 1fr;

  column-gap: 20px;
}

.app-checkbox--title {
  margin-bottom: 0;

  font-size: 16px;
  font-weight: 500;
  
  color: styles.$color-gray--dark;
}

.app-checkbox--subtitle {
  margin-bottom: 0;
  font-size: 11px;

  color: styles.$color-gray--light;
}

.app-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-space {
  flex: 1 1 auto;
}

svg {
  width: 100px;
  height: 100px;
  zoom: 2;
}

path {
  stroke-linecap: round;
  stroke-width: 4;
}

path.grey {
  stroke: lightgrey;
}

path.blue {
  stroke: styles.$color-blue;
  stroke-width: 6px;
  stroke-dasharray: calc(40 * 3.142 * 1.85);
}

text.percent {
  fill: styles.$color-blue;
  font-weight: 600;
}

text.subtext {
  fill: styles.$color-gray;
}